

body{
    font-size: 100%;
    background-color: #000080;

}

a{
    color: #FFF2E7;
    font-weight: 400;
    font-size: 25px;

}

h1{
    text-align: center;
    font-family: 'Sarala', sans-serif ;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 40px;

}

.cabeçalho-curriculo{
    font-family: 'Sarala', sans-serif ;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 20px;

}

.Tópicos{
    font-family: 'Sarala', sans-serif ;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 20px;

}

.linkhome {
    
    position: absolute;
    top: 650px;
    left: 600px;      
}